* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.navbar img {
  height: 50px;
  width: auto;
}
.login-btn {
  background-color: #53C4C0 !important;
  border-radius: 20px;
  width: 146px;
  border: none !important;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.login-btn:hover {
  background-color: #3fb1ae !important;
}

.hero-title span {
  color: #53C4C0;
}

button {
  background-color: #A2DAE3;
}

.hero-section {
  padding: 80px;
  background: linear-gradient(to bottom, white, #A2DAE3);
}
.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.hero-title span {
  color: #53C4C0;
}
.hero-subtitle {
  font-size: 1rem;
  margin-top: 1rem;
  color: #333;
}

.hero-image-wrapper {
  position: relative;
  display: inline-block;
  text-align: end;
  width: 100%;
}
.hero-image-wrapper .hero-image {
  width: 80%;
  height: 80%;
  max-width: 400px;
  z-index: 1;
  position: relative;
}
.info-card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
  background: #ffffff;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  z-index: 2;
  padding: 0.5rem 1rem;
}
.info-title {
  font-weight: bold !important;
  color: #3D90D7 !important;
  margin-bottom: 0.25rem;
  text-align: start;
}
.info-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  text-align: start;
}

/* CARD BAWAH HERO */
.features-section .features-card {
  transition: transform 0.3s;
  overflow: hidden;
  border: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4) !important;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.features-image-wrapper {
  min-width: 80px;
  display: flex;
  width: 40%;
  overflow: hidden;
}
.features-image-wrapper img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FITUR */
.fitur-section .fitur-title {
  margin-bottom: 100px;
}
.icon-card {
  background-color: #b2ebf2;
  padding: 20px;
  border-radius: 12px;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
}

/* TESTIMONI */
.card-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* FOOTER */
.footer-section {
  background-color: #000;
  color: #fff;
}

.footer-brand {
  font-weight: 700;
  font-size: 48px;
  font-family: 'Inknut Antiqua', serif ;
}

.footer-description {
  font-size: 0.95rem;
  max-width: 600px;
}

.footer-section p {
  margin: 0.25rem 0;
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar img {
    height: 25px;
    width: auto;
  }

  .hero-title {
    text-align: start;
    font-size: 1.2rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
    text-align: start;
    max-width: 40%;
  }

  .hero-image-wrapper {
    width: 55%;
  }
  .hero-image-wrapper .hero-image {
    max-width: 300px;
    z-index: 9999;
  }
  .info-card {
    top: -50%;
    left: 30%;
    width: 180px;
    font-size: 0.7rem;
    z-index: 10000;
    padding: 0.2rem 0.8rem;
  }

  .features-image-wrapper {
    width: 90px;
  }
  .features-section .features-card {
    flex-direction: column;
  }
  .features-image-wrapper {
    margin: 1rem 0;
    width: 100px;
    height: 80px;
  }
  .card-body {
    height: auto;
    width: auto;
  }

  .footer-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-brand {
    font-size: 1.4rem;
  }

  .footer-description {
    font-size: 0.75rem;
  }

  .footer-section h5 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding-left: 25px;
  }

  .footer-section ul {
    padding-left: 25px;
    font-size: 0.75rem;
  }

  .footer-section li p {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 576px) {
  .navbar img {
    height: 24px;
    width: auto;
  }

  .login-btn {
    width: 120px;
    padding: 0.4rem 1rem;
    font-size: 0.85rem;
  }

  .hero-section {
    padding: 2rem 1rem;
    text-align: center;
  }

  .hero-title {
    text-align: start;
    font-size: 1.2rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
    text-align: start;
    max-width: 40%;
  }

  .hero-image-wrapper {
    width: 55%;
  }
  .hero-image-wrapper .hero-image {
    max-width: 300px;
    z-index: 9999;
  }
  .info-card {
    top: -50%;
    left: 30%;
    width: 180px;
    font-size: 0.7rem;
    z-index: 10000;
    padding: 0.2rem 0.8rem;
  }

  .info-title {
    font-size: 0.85rem;
  }

  .info-text {
    font-size: 0.75rem;
  }

  .features-section .features-card {
    flex-direction: column;
    padding: 1rem;
  }

  .features-image-wrapper {
    width: 80px;
    height: 70px;
    margin: 0 auto 1rem;
  }

  .features-image-wrapper img {
    width: 100%;
    height: 100%;
  }

  .icon-card {
    width: 70px;
    height: 70px;
    padding: 15px;
  }

  .footer-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-brand {
    font-size: 1.4rem;
  }

  .footer-description {
    font-size: 0.75rem;
  }

  .footer-section h5 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding-left: 25px;
  }

  .footer-section ul {
    padding-left: 0;
    font-size: 0.75rem;
    padding-left: 25px;
  }

  .footer-section li p {
    margin-bottom: 0.5rem;
  }
}
